<md-toolbar id="main-toolbar" color="primary" class="mat-elevation-z4">
  <input id="logo" type="image" src="../assets/logo.png"  [routerLink]="['/']" />
  <button id="home-button" [routerLink]="['/']" >App Center</button>


  <span class="app-toolbar-filler"></span>
  <app-login></app-login>
</md-toolbar>
<router-outlet></router-outlet>
<app-list-component></app-list-component>
<a id="floating-button" md-fab class="btn-floating" (click)="toggleUploadScreen()" >
  <md-icon md-font-set="material-icons">file_upload</md-icon>
</a>
