#upload-button {
  margin: 10px;
}

#upload-form {
  margin: 10px;
  width: 300px;
}
.row {
  width: 100%;
  margin-top: 10px;
}

textarea {
  max-width: 250px;
  max-height: 100px;
}

mat-radio-label-content {
  margin: 10px;
}

