<div  id="upload-form" >
  <md-card>
    <div class="row">
    <md-input-container>
      <input mdInput #appName [(ngModel)]="appNameValue" required placeholder="Application Name"  maxlength="20">
      <md-hint>
        {{appName.value.length}} / 20
      </md-hint>
    </md-input-container>
    </div>
    <div class="row">
      <md-radio-group #appType [(ngModel)]="selectedType"  >
        <md-radio-button class="mat-radio-label-content" *ngFor="let type of types" [value]="type">{{ type }}</md-radio-button>
      </md-radio-group>
    </div>
    <div class="row">
      <md-input-container class="input-container">
        <textarea #appDescription mdInput [(ngModel)]="appDescriptionValue" maxlength="200" required placeholder="Description"></textarea>
        <md-hint>
          {{appDescription.value.length}} / 200
        </md-hint>
      </md-input-container>
    </div>
    <div class="row">
      <app-drag-to-upload (fileEmitter)="onFileEmit($event)" ></app-drag-to-upload>
    </div>
    <button type="submit" id="upload-button" md-raised-button color="accent" (click)="uploadApp()" > UPLOAD </button>
    <div *ngIf="progressValue" class="row">
      <md-progress-bar
        class="mat-progress-bar mat-primary"
        [color]="color"
        [mode]="determinate"
        [value]="progressValue">
      </md-progress-bar>
      <div class="app-progress">
        {{ progressValue === 100 ? 'Complete' : progressValue }} %
      </div>
    </div>
  </md-card>
</div>
